@model List<InventarioFCOH.Models.VwReporteGeneralInventario>

<div>

	<div class="print-header" style="display: none;">
		<img src="~/images/logo.png" alt="Logo" />
	</div>

	<head>
		<title>Inventario General</title>
		<link rel="stylesheet" href="~/css/encabezado.css" asp-append-version="true" />
	</head>

	<body>
		<div class="container mt-5">
			<div class="d-flex justify-content-between">
				<h2>Reporte de Inventario General</h2>
				<button class="btn btn-primary" onclick="imprimirReporte()">Imprimir</button>
			</div>
			<br />
			<form method="get" class="form-inline d-flex justify-content-between">
				<div class="form-group mb-2 flex-fill mr-2">
					<input type="text" class="form-control w-100" name="equipoId" placeholder="Equipo ID">
				</div>
				<div class="form-group mb-2 flex-fill mx-2">
					<select class="form-control w-100" name="categoria">
						<option value="" disabled selected>Selecciona una categoría</option>
						@foreach (var categoria in ViewBag.Categorias)
						{
							<option value="@categoria.Value">@categoria.Text</option>
						}
					</select>
				</div>
				<div class="form-group mb-2 flex-fill mx-2">
					<input type="text" class="form-control w-100" name="estado" placeholder="Estado">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Filtrar</button>
			</form>

			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo ID</th>
						<th>Descipcion</th>
						<th>Categoría</th>
						<th>Precio de Compra</th>
						<th>Fecha de Compra</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.IdEquipo</td>
							<td>@item.Descripción</td>
							<td>@item.Categoría</td>
							<td>@item.PrecioDeCompra</td>
							<td>@item.FechaDeCompra.ToString("yyyy-MM-dd")</td>
							<td>@item.Estado</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</body>

	<script>
		function imprimirReporte() {
			window.print();
		}
	</script>
</div>
